<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Log in
  <input type="text" placeholder="username" #username [(ngModel)]="model.username"> <br>
  <input type="password" placeholder="password" #password [(ngModel)]="model.password"> <br>
  <button (click)="doLogin()">Log In</button>
  <button (click)="signUp()">Sign Up</button>
</ion-content>
