<div class="movie-card">
  <div><img [src]="image" alt=""></div>
  <div class="movie-title">{{title}}</div>
  <div class="movie-subtitle">{{subtitle}}</div>
  <div>{{ '2020-12-15' | date: 'dd/MM/yyyy' }}</div>
</div>