<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{ 130020 | moneyFormatter }}
  <app-relacionados
  (movieClicked)="movieClick($event)"></app-relacionados> -->
  <img [src]="base64Image" alt="">
  <button (click)="takeAPick()">Picture</button>
</ion-content>
